/* =BOOKS */

#books { margin-bottom: 120px; }

div.book {
    margin-bottom: 56px;
    max-width: 880px;
}

div.book:last-of-type { margin-bottom: 0; }

div.book-cover {
    border: 2px solid red;
    text-align: center;
    width: 100%;
}

div.book img.cover {
    border: 2px solid #fff;
    margin: 0 auto;
    width: 186px;
    height: 286px;
}

/* book preview – unused for now */
div.book-cover-preview span {
    background-color: var(--color-grey-darkest);
    border: 2px solid #fff;
    border-top-width: 0;
    display: none;
    font-weight: var(--font-weight-bold);
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

div.book-details {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 700px) {
    #books div.container {
        margin: 0 auto;
        max-width: 900px;
        /*padding-left: 80px;
        padding-right: 32px;*/
    }
    #books div.book {
        display: flex;
        gap: 32px;
    }
    div.book-cover {
        margin: 0;
        width: 186px;
    }
    div.book img.cover { margin: 0; }
}

@media screen and (min-width: 950px) {
   #books div.container {
        border: 2px solid pink;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        margin: 0 auto;
        padding: 0;
        max-width: 950px;
        width: 100%;
    }
    #creators div.container div.book {
        display: inline;
        flex-grow: 1;
        margin: 0 0 16px 0;
        max-width: 50%;
        padding: 0 16px 0 0;
    }
}

/* =BOOK DETAILS */

div.book-details h3 {margin-bottom: 16px; }

div.book-soon h3 { margin-bottom: 0; }

div.book-details p {  }

div.book-soon p {
    color: var(--color-grey-dark);
    margin-top: 0px;
}

@media screen and (max-width: 700px) {
    div.book:has(div.book-soon) { margin-bottom: 16px; }
    div.book-soon h3, div.book-soon p { text-align: center; }
}

@media screen and (min-width: 701px) {
    div.book:has(div.book-soon) { background-color: #111; }
}

/*div.book-details p:last-of-type { margin-bottom: 0; }*/

#books .btn-buy { margin-bottom: 16px; }

.issue-track-name { color: var(--color-grey-light); }

.issue-track-play {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    margin-top: 0;
    text-transform: uppercase;
}

.issue-track-play a { border-width: 0; }

.issue-track-play a:hover, .issue-track-play a:active { color: var(--color-highlight); }

img.btn-icon {
    display: inline;
    margin: 0 4px -6px 0;
}

/*@media screen and (min-width: 500px) {
    .btn-buy {
        display: flex;
        gap: 8px;
    }
    .btn-buy li {
        margin-bottom: 0;
        width: 100%;
    }
}*/